# Outputs
.output
.data
.nuxt
.nitro
.cache
dist
target

# Dependencies
node_modules

# Logs
logs
*.log

# Environment
.env
.env.*
!.env.example

# Editor
.vscode

# Miscellaneous
.DS_Store
.fleet
.idea